a:link { 
    text-decoration: none; 
    color: white;
  } 
  a:visited { 
    text-decoration: none; 
    color: white;
  } 
  a:hover { 
    text-decoration: none; 
    color: white;
  } 
  a:active { 
    text-decoration: none; 
    color: white;
  }
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Red Hat Display", sans-serif;
}
.inline-block {
    display: inline-block;
    vertical-align: top;
}
nav {
    background-color: #324D43;
    color: white;
    width: 100%;
    padding: 20px;
}
.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}
.heroImg {
    padding: 25px;
}
.content {
    width: 700px;
    margin: 0 auto;
}
footer {
    background-color: #324D43;
    color: white;
    padding: 20px;
    margin-top: 100px;
}
.footer-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#aboutme {
    font-size: 4rem;
    font-weight: 900;
}
.card {
    background-color: #588071;
    color: white;
    width: 700px;
    height: 130px;
    border-radius: 10px;
    margin: 8px;
    padding: 25px;
}
.card-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.card-icon {
    height: 50px;
}
.card-title-container {
    display:flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
}
.card-title {
    margin-left: 10px;
    font-weight: 700;
    font-size: 1.1rem;
}
button{
    background-color: #324D43;
    color: white;
    border-radius: 10px;
    padding: 20px;
    border:none;
}
button:hover {
    background-color: #588071;
}
.intro {
    padding-top: 40px;
    padding-left: 50px;
}
.hello {
    font-size: 8rem;
    font-weight: 900;
    margin: 0;
}
.allison {
    font-size: 8rem;
    font-weight: 600;
    margin: 0;
    color: #324D43;
}
.mywork {
    padding: 20px;
    margin-top: 100px;
    width: 70%;
    justify-content: center;
    position: relative;
}
.yellowbox {
    width: 100%;
    height: 300px;
    background-color: #D1A516;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 25px;

}
.infolayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.computer {
    position: absolute;
    height: 400px;
    top: 65px;
    left: 50%;
}
.triply {
    position: absolute;
    height: 400px;
    top: 15px;
    left: 15%;
}
.triply-text {
    margin-left: 40%;

}
.boldtext {
    font-weight: 700;
    font-size: 30px;
    margin-top: 5px;
}
.blacktext {
    color: black !important; 
}
.nav-link {
    margin-right: 10px;
}
.squiggly {
    margin-top: 50px;
}
.myworktitle {
    font-size: 40px;
    font-weight: 700;
}
.find-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    position: relative;
}
.arrow {
    top: 0.75px;
    position: absolute;
    margin-left: 10px;
}
.squiggly-container {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: -500px;
    opacity: 0;
}

.squiggly-2 {
    position: absolute;
    left: 996px;
}

/* ANIMATIONS */
.fadeIn {
    animation: 1.5s fadeInUp;
}
.fadeIn2 {
    animation: 2s fadeInUp;
}

.arrow {
    animation: 2s arrow-bounce;
}

@keyframes fadeInUp {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes arrow-bounce {
    0% {
        transform: translatex(0px);
    }
    25% {
        transform: translatex(25px);
    }
    50% {
        transform: translatex(0px);
    }
    75% {
        transform: translatex(25px);
    }
    100% {
        transform: translatex(0px);
    }
}

/* END ANIMATIONS */
